/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/viralmetagenome -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'UMI test profile'
    config_profile_description = 'UMI test dataset to check pipeline function for reads with unique molecular identifiers (UMIs)'

    // Input data
    input     = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/samplesheet.csv'
    outdir    = "testing"
    metadata  = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/metadata_test.tsv'

    skip_complexity_filtering   = false
    trim_tool                   ='fastp'
    with_umi                    = true
    skip_umi_extract            = false
    umi_deduplicate             = 'both'
    host_k2_db                  = params.pipelines_testdata_base_path + 'viralmetagenome/db/kraken2_hs22.tar.gz'
    assemblers                  = 'spades'

    skip_read_classification    = true
    save_databases              = true
    skip_sspace_basic           = false
    kaiju_db                    = params.pipelines_testdata_base_path + 'viralmetagenome/db/kaiju.tar.gz'
    reference_pool              = params.pipelines_testdata_base_path + 'viralmetagenome/db/sarscov2.fasta'

    mapping_constraints         = params.pipelines_testdata_base_path + 'viralmetagenome/samplesheets/mapping_constraints.csv'
    save_intermediate_polishing = true
    save_intermediate_reads     = true
    intermediate_mapping_stats  = true
    min_mapped_reads            = 100
    skip_checkv                 = true

    arguments_fastp             = '--dedup --dup_calc_accuracy 2'
    arguments_umitools_extract  = '--bc-pattern="NNNN"'
}
