process {
    resourceLimits = [
        memory: 30.GB,
        cpus  : 8,
        time  : 24.h
    ]
}

params {
    config_profile_name        = 'Running on a local desktop profile'
    config_profile_description = 'Profile for running the pipeline on a local desktop or laptop computer with limited resources.'
    read_classifiers           = 'kraken2'
}